# Python
__pycache__/
*.pyc
.env
.env.*
database.csv
initialization/
.vscode/
.DS_Store
*.sqlite3
*.db
*.log
*.pkl
*.bak
*.swp
*.tmp
*.egg-info/
.idea/
*.orig
*.coverage
htmlcov/
*.sqlite
*.sqlite3
*.db
*.db3
*.bak
*.tmp
*.log
*.pid
*.py[cod]
# VSCode
.vscode/
# OS
Thumbs.db
.DS_Store
# Azure
startup.txt
